<div class="content-setup">
  <form [formGroup]="form">
      {{ form.value | json }} {{form.valid}}
      <div class="line" >
        <app-radio class="element" formControlName="playersCount" (click)="checkCanChangeRadios()" [label]="'Game Mode:'" 
          [identifier]="'playersCount'" [initialValue]="form.value.playersCount" [options]="gameModeOptions">
        </app-radio>
      </div>

      <div class="line">
        <app-input errorMessage="Required, with length between 4 and 15 characters." label="Player 01 Name:" class="element">
            <input formControlName="player1" [readonly]="gameStarted">
        </app-input>
      </div> 

      <div *ngIf="form.value.playersCount == gameModeType.MULT_PLAYER" class="line">
        <app-input errorMessage="Required, with length between 4 and 15 characters." label="Player 02 Name:" class="element">
            <input formControlName="player2" [readonly]="gameStarted">
        </app-input>
      </div>

      <div *ngIf="form.value.playersCount == gameModeType.MULT_PLAYER" class="line word">
        <app-input errorMessage="Required, with length between 4 and 20 characters." 
          label="Type the word, Player {{ playerTime % 2 != 0 ? '01' : '02' }}:" class="element">
          <input type="password" formControlName="word" [readonly]="!canTypeWord">
        </app-input>
      </div>

      <div *ngIf="form.value.playersCount == gameModeType.SINGLE_PLAYER" class="line">
        <app-radio class="element" formControlName="category" (click)="checkCanChangeRadios()" [label]="'Category:'" 
          [identifier]="'category'" [initialValue]="form.value.category" [options]="categoryOptions">
        </app-radio>
      </div>

      <div class="line">
        <div class="actions">
            <input type="button" name="btnTeste" class="btn-action" value="Start" 
              (click)="startGame()" [disabled]="!form.valid || !canTypeWord" />
            <input type="button" name="btnResetGame" class="btn-action" value="Reset" 
              (click)="resetGame()" />
        </div>
      </div>
  </form>
</div>