@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.line {
  display: flex;
  padding: 10px;
}

.element {
  flex: 1;
}

.actions {
  justify-content: right;
  margin-left: auto;
}

.btn-action {
  width: 100px;
  height: 30px;
}



.radio-component {
  display: flex;
  flex: 1;
}

.radio-label {
  flex: 2;
  font-weight: bold;
}

.radio-content {
  flex: 10;
  display: flex;
}

.radio {
  margin-right: 20px;
}