@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.line {
  display: flex;
  padding: 10px;
}

.element {
  flex: 1;
}

.actions {
  justify-content: right;
  margin-left: auto;
}

.btn-action {
  width: 100px;
  height: 30px;
}