@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.line {
  display: flex;
  padding: 10px;
}

.element {
  flex: 1;
}

.actions {
  justify-content: right;
  margin-left: auto;
}

.btn-action {
  width: 100px;
  height: 30px;
}

.radio {
  margin-right: 20px;
}

input {
  margin-left: 5px;
}

.label-description {
  width: 15%;
  font-weight: bold;
  display: inline-block;
}

.label-radio {
  margin-left: 5px;
}

.text {
  width: 30%;
}