.input-container {
    display: flex;
    flex-wrap: wrap;
}

:host /deep/ input {
    width: 90%;
    margin-left: 5px;
}

  
.label-description {
    flex: 2;
    font-weight: bold;
    display: inline-block;
}

.text {
    flex: 4;
}

.feedback-message {
    flex: 6;
    color: red;
    font-size: 14px;
}