<div class="container">
  <div class="box-interative">
      <div class="box-alphabet">
          <app-alphabet>
          </app-alphabet>
      </div>
      <div class="box-attempts">
          <app-attempts>
          </app-attempts>
      </div>
      <div class="box-tip">
          <app-tip [tip]="tip">
          </app-tip>
      </div>
      <div class="box-word">
          <app-word [word]="word">
          </app-word>
      </div>
  </div>
  <div class="box-doll">
      <app-doll>
      </app-doll>
  </div>
</div>